//fonts
$font-sans-serif = 'Source Sans Pro', sans-serif;
$font-serif = 'Rubik', sans-serif;
$font-headings = $font-serif //'Cabin Sketch', cursive;
.text-color {
  color: var(--text-color);
}
.primary--text {
  color: var(--primary);
}
.secondary--text {
  color: var(--secondary);
}
.quartiery--text {
  color: var(--quartiery);
}
.primary {
  background-color: var(--primary) !important;
}
.secondary {
  background-color: var(--secondary) !important;
}
.quartiery {
  background-color: var(--quartiery) !important;
}
.secondary-dark {
  background-color: var(--secondary-dark) !important;
}
