.project
    .rich-text
        width 85%
        max-width 60ch
        margin 40px auto
    +for_breakpoint(xs sm)
        .rich-text
            width: 100%
            margin 0 auto
            text-justify: none;
